{% extends "base.html" %}
{% block content %}

<h2 class="section-title">Image Gallery</h2>

<div class="gallery">
    <img src="{{ url_for('static', filename='img/accommodation.jpg') }}">
    <img src="{{ url_for('static', filename='img/camping.jpg') }}">
    <img src="{{ url_for('static', filename='img/nature_walk.jpg') }}">
    <img src="{{ url_for('static', filename='img/pine_forest.jpg') }}">
     <img src="{{ url_for('static', filename='img/spring_water.jpg') }}">
      <img src="{{ url_for('static', filename='img/wildlife.jpg') }}">
        <img src="{{ url_for('static', filename='img/fishing.jpg') }}">
          <img src="{{ url_for('static', filename='img/scenery.jpeg') }}">
</div>

{% endblock %}
